/* UNIVERSAL */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width:100%;
}
@font-face {
    font-family: apple;
    src: url(sf-pro-text_regular.woff2);
}


/* MAIN */

#main{
    background-color: rgb(0, 0, 0);
    height:100%;
    width:100%;
}


/* MAIN cha NAV */

#main #nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
    position:fixed;
    z-index:2;
    top:0%;
    height: 8%;
    width:100%;
    background-color: rgb(48, 44, 44);
    font-weight: 100;
}

#main #nav a{
    color: aliceblue;
    font-weight: 100;
    font-family:apple;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
}


/* MAIN cha CENTER */

#main #center{
    height:100%;
    width:100%;
}


/*  MAIN cha CENTER cha PRO17 */

#main #center #pro17 {
    background-image:url(highlights_design_endframe__flnga0hibmeu_medium.jpg);
    background-repeat: no-repeat;
    background-position:vertical top;
    background-size:cover;
    justify-content: center;    
    height:100%;
    margin-top:2%;

}
#main #center #pro17 h1{
    text-align: center;
    color: aliceblue;
    font-family: apple;
    padding-top: 30px;
    font-size: 46px;
}
#main #center #pro17 h3{
    text-align: center;
    color: aliceblue;
    font-family: apple;
    font-size: 30px;
    padding-top:10px ;
    font-weight: 100;
}
/* #main #center #pro17 #links{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:35px 25px;
} */
#main #center #pro17 button{
    border:1px solid white;
    padding: 10px 20px;
    border-radius:50px;
    font-size:15px;
    cursor:pointer;
}


/* MAIN cha CENTER cha IPHONE AIR  */

#main #center #iphoneAir {
    background-image:url(iphone-air-digitalmat-gallery-2-202509.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    justify-content: center;  
    height:100%;
}
#main #center #iphoneAir h1{
    text-align: center;
    color: rgb(5, 5, 5);
    font-family: apple;
    padding-top: 30px;
    font-size: 46px;
}
#main #center #iphoneAir h3{
    text-align: center;
    color: rgb(5, 5, 5);
    font-family: apple;
    font-size: 30px;
    padding-top:10px ;
    font-weight: 100;
}
/* #main #center #iphoneAir #links{ */
#main #center .links{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:35px 25px;
}
#main #center #iphoneAir button{
    border:1px solid rgb(255, 255, 255);
    background-color: rgb(97, 110, 110);
    color: aliceblue;
    padding: 10px 20px;
    border-radius:50px;
    font-size:15px;
    cursor:pointer;
}

/* MAIN cha CENTER cha iphone17 */

/* #main #center #iphone17 {
    background-image:url(hero_iphone_17__fslo8k8lane6_medium.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size:contain;
    justify-content: center;  
    height:100%;
    margin-bottom:50px;
} */
 #main #center #iphone17 {
    background:linear-gradient( #f1f3f7 30%,white 70%);
 }
 /* #main #center #iphone17 img{
    position: relative;
    left:27%;
    position-anchor: center;
    left: 27%;
 } */
#main #center #iphone17 #hero_iphone17{
    /* position:relative;
    left:28%;
    align-items: center; */
    padding-bottom: 5%;
    border-radius: 50%;
    /* bottom:15%; */
}
#main #center #iphone17 #img{
    position:relative;
    left:30%;
    /* z-index: 1; */
    /* transform: translateX(-50%); */
    /* transform: translateY(-50%); */
}
#main #center #iphone17 h1{
    text-align: center;
    color: rgb(5, 5, 5);
    font-family: apple;
    padding-top: 30px;
    font-size: 46px;
}
#main #center #iphone17 h3{
    text-align: center;
    /* color:linear-gradient( to right bottom,rgb(167, 139, 204), rgb(123, 156, 226),rgb(133, 197, 80)); */
    color: rgb(5, 5, 5);    
    font-family: apple;
    font-size: 35px;
    padding-top:10px ;
    font-weight: 300;
}
/* #main #center #iphone17 #links{ */
#main #center .links{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:35px 25px;
}
#main #center #iphone17 button{
    border:1px solid rgb(255, 255, 255);
    background-color: rgb(97, 110, 110);
    color: aliceblue;
    padding: 10px 20px;
    border-radius:50px;
    font-size:15px;
    cursor:pointer;
}

/* WINDOW SECTION */
#window{
    height:100%;
    width:100%;
    background-color: rgb(248, 248, 255);
    /* display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll; */
    /* flex-direction: row; */
    /* justify-content:space-evenly; */
}

#main #center #window .window-text{
    display: flex;
    color: rgb(25, 27, 29);
    font-family: apple;
    font-size:18px;
    padding-left:55px;
    padding-top: 20px;
    gap:10px
}
#main #center #window .window-text #red{
    color:rgb(209, 60, 60)
}
#main #center #window .window-cards{
    /* agar mujhe wo div pe kaam karna hai jisme wo cards present hai ya bol sakte hai ki agar mujhe wo cards ke aaju baaju wale section mai kuch kaam karna hai to mujhe is section mai kaam karna padega  */
    display:flex;  
    justify-content: space-evenly; 
    /* display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll; */
    padding-top: 15px;
    padding-bottom: 70px;
}
#main #center #window .section{
    /* section wala ye section sirf div pe kaam karega div ke aaju baaju mai ya bahar jo bhi changes karne hai ya bahar jo bhi kuch hai ye uspe kaam nahi karega...ye sirf div yaani jo cards hai usi pe kaam karega */
    /* display:flex; */
    background-color: rgb(0, 0, 0);
    height:500px;
    width:420px;
    margin:20px;
    border-radius: 20px;
}
#main #center #window #macbook{
    background-image: url(store-card-40-macbook-pro-202510.jpg);
    background-size: cover;
    color: white;
    font-family: apple;
}
#main #center #window #watch{
    background-image: url(watch-card-50-watch-black-unity-band-202601.jpg);
    background-size: cover;
    color: white;
    font-family: apple;
}
#main #center #window #ipad{
    background-image: url(store-card-40-ipad-pro-202510.jpg);
    background-size: cover;
    color: white;
    font-family: apple;
}
#main #center #window .name{
    font-size: 28px;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 30px;
}
#main #center #window .feature{
    font-size: 20px;
    font-weight: 200;
    padding-top: 10px;
    padding-left: 30px;

}
#main #center #window .price{
    font-size: 14px;
    font-weight: 200;
    padding-top: 8px;
    padding-left: 30px;
}


/* MAIN cha FOOTER */

#main #footer{
    position: fixed;
    bottom: 0%;
    height:40px;
    width:100%;
    background-color: rgb(48, 44, 44);
    padding-top: 7px;
}
#main #footer a{
    margin-left: 44%;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    font-weight: 100;
    font-family: apple;
    text-decoration: none;
}